@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Shadows+Into+Light&family=Whisper&display=swap');
body{
  background-color: #0e0e0e;
  color: white;
  /* background: url('/public/red-grid-bg.jpg'); */
  background-size: contain;
  /* font-family: "Shadows Into Light"; */
}

::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

.header a{
    transition: 100ms color  ease-in-out, 300ms text-shadow ease-in-out;  
}
.header a:hover{
    text-shadow: 0px 0px 10px;
}

.skillsCarousel{
    animation:  carouselEffect 30s linear infinite;
}

@keyframes carouselEffect{
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(-100%)
    }
}




