@import "tailwindcss";

@theme {
  --text-color: #b9b9b9;              /* rgb(185, 185, 185) */
  --color-primary: #ff0000;
  --color-primary-light: #ff5454;           /* red */
  --color-primary-dark: #8c0000;           /* red */
  --color-primary-background: #1e0000;/* rgb(30, 0, 0) */
  --color-secondary: #ffffff;         /* white */
  --color-success: #008000;           /* green */
  --color-danger: #ff0000;            /* red */
  --color-warning: #ffa500;           /* orange */

  --color-foreground: #ffffff;        /* white */
  --color-accent: #000000;            /* black */
  --color-accent-foreground: #000000;            /* black */
  --color-accent-background: #ffffff; /* white */

  --color-primary-border: #ff0000;    /* red */
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  scroll-behavior: smooth;
}

@layer utilities{
  .flex-center{
    @apply flex items-center justify-center;
  }
}